.header {
    height: 150px;
    width: 100%;
    background: #fefeb3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  